.App {
  font-family: sans-serif;
  text-align: left;
  max-width: 500px;
  margin-left: 25px;
  min-width: 500px;
  border: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: #a6d1e6;
  margin-top: 25px;
  padding: 15px;
  padding-right: 20px;
  background-color: #fefbf6;
  color: #3d3c42;
}
