.searchbar {
  margin: 10px 10px 10px 40px;
  padding: 5px;
  padding-left: 19px;
}
.show-current-button {
  border-width: 2px;
  border-color: #4f7385;
  padding: 4px 8px 3px 8px;
}
.searchCityInput {
  padding: 3px 88px 4px 15px;
}
